/* laptop/desktop 1200px */
@media (min-width: 1200px) and (max-width: 1500px) {}

/* normal desktop */
@media (min-width: 992px) and (max-width: 1200px) {}

/* tablet */
@media (min-width: 768px) and (max-width: 991px) {
  .responsive-margin {
    margin-top: 25%;
  }

  .main-menu ul li a {
    font-size: 25px;
  }

  .main-menu ul li a::before {
    left: 9%;
    top: 8px;
    height: 23px;
  }

  .address h2 {
    font-size: 25px;
  }

  .address p {
    font-size: 14px;
  }

  .hero-content h1 {
    width: 96%;
    font-size: 27px;
  }

  .hero-content p {
    font-size: 14px;
  }

  .hero-content a {
    font-size: 12px;
  }

  .section-heading {
    margin: 14px 0 50px 0;
    font-size: 14px;
  }

  .section-heading h2 {
    font-size: 27px;
    width: 60%;
  }

  .service-wrapper h6 {
    margin-bottom: 10px;
  }

  .section-heading .width {
    width: 85%;
    margin-bottom: 25px !important;
  }

  .showcase-content {
    padding: 7px 8px;
  }

  .showcase-content svg {
    font-size: 37px;
  }

  .showcase-content h6 {
    font-size: 13px;
  }

  .showcase-content p {
    font-size: 12px;
  }

  .theme-btn a {
    font-size: 13px;
  }

  .blog-content span {
    font-size: 11px;
  }

  .blog-content p {
    font-size: 15px;
  }

  .blog-btn {
    position: absolute;
    left: 15%;
    bottom: -5%;
    padding: 5px 18px;
  }

  .blog-btn-one {
    left: 15%;
    bottom: 19%;
    padding: 5px 18px;
  }

  .news-wrapper span {
    font-size: 28px;
  }

  .news-wrapper p {
    font-size: 13px;
    margin-top: 10px;
  }

  .news-wrapper input {
    width: 90%;
    padding: 10px 18px;
  }

  .news-wrapper .position {
    right: 9%;
    bottom: 41px;
    font-size: 12px;
  }

  .footer-menu ul li a {
    font-size: 12px;
  }
}

/* small mobile */
@media (max-width: 767px) {
  .menu-list {
    height: 100vh;
  }

  .responsive-margin {
    margin-top: 35%;
  }

  .main-menu ul li a {
    font-size: 20px;
  }

  .main-menu ul li a::before {
    left: 0;
    top: 6px;
    height: 19px;
  }

  .address h2 {
    font-size: 20px;
  }

  .address p {
    font-size: 12px;
    margin-top: 0;
  }

  #blog {
    display: none;
  }

  #newsletter {
    display: none;
  }

  #hero {
    padding: 28px 0;
  }

  .hero-content {
    margin-bottom: 50px;
  }

  .hero-content h1 {
    width: 96%;
    font-size: 27px;
  }

  .hero-content p {
    font-size: 14px;
  }

  .hero-content a {
    font-size: 12px;
  }

  .section-heading {
    margin: 24px 0 50px 0;
    font-size: 14px;
  }

  .one,
  .two,
  .three {
    margin-bottom: 20px;
  }

  .section-heading h2 {
    font-size: 22px;
    width: 100%;
  }

  .section-heading h2 {
    font-size: 24px;
    width: 100%;
  }

  .section-heading .width {
    width: 100%;
    margin-bottom: 25px !important;
  }

  .abt-content {
    transform: translateX(0px);
  }

  .showcase-img {
    margin-bottom: 40px;
  }

  .showcase-content p {
    font-size: 13px;
  }

  .margin-left {
    margin-left: 0px;
  }

  .flex {
    margin-bottom: 20px;
  }

  .footer-menu ul li {
    margin-right: 10px;
  }

  .foot {
    display: flex;
    justify-content: center;
    transform: translateX(10px);
    margin-top: 10px;
  }

  .footer-logo {
    text-align: center;
  }
}

/* large mobile */
@media only screen and (min-width: 520px) and (max-width: 767px) {
  .menu-list {
    height: 80vh;
  }

  .responsive-margin {
    margin-top: 25%;
  }

  .main-menu ul li a {
    font-size: 20px;
  }

  .main-menu ul li a::before {
    left: 19%;
    top: 6px;
    height: 19px;
  }

  .address h2 {
    font-size: 20px;
  }

  .address p {
    font-size: 12px;
  }

  .hero-content {
    margin-bottom: 50px;
  }

  .hero-content h1 {
    width: 96%;
    font-size: 27px;
  }

  .hero-content p {
    font-size: 14px;
  }

  .hero-content a {
    font-size: 12px;
  }

  .section-heading {
    margin: 14px 0 50px 0;
    font-size: 14px;
  }

  .section-heading h2 {
    font-size: 27px;
    width: 60%;
  }

  .service-wrapper {
    border-top-left-radius: 37px;
  }

  .service-wrapper h6 {
    margin-bottom: 10px;
  }

  .one,
  .two,
  .three {
    margin-bottom: 20px;
  }

  .abt-img {
    margin-bottom: 40px;
  }

  .section-heading .width {
    width: 85%;
    margin-bottom: 25px !important;
  }

  .showcase-img {
    margin-bottom: 40px;
  }

  .showcase-content p {
    font-size: 13px;
  }

  .margin-left {
    margin-left: 0px;
  }

  .flex {
    margin-bottom: 20px;
  }

  #blog {
    display: none;
  }

  .news-wrapper span {
    font-size: 24px;
  }

  .news-wrapper p {
    font-size: 10px;
  }

  .news-wrapper input {
    width: 100%;
    padding: 4px 18px;
  }

  .news-wrapper input::placeholder {
    font-size: 12px;
  }

  .news-wrapper .position {
    right: 4%;
    bottom: 36px;
    padding: 10px 16px;
    font-size: 11px;
  }

  .footer-menu ul li {
    margin-right: 10px;
  }

  .foot {
    display: flex;
    justify-content: center;
    transform: translateX(10px);
    margin-top: 10px;
  }

  .footer-logo {
    text-align: center;
  }
}