@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
/* font-family: 'Poppins', sans-serif; */

/* global css */

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
}

body .disable-scroll {
  overflow: hidden;
}

/* utility */
.section-heading {
  margin: 25px 0 50px 0;
}

.section-heading h2 {
  font-size: 38px;
  font-weight: 600;
  letter-spacing: 1px;
  width: 44%;
  margin-top: 20px;
  color: #2b283d;
  font-weight: 700;
  text-transform: capitalize;
}

.section-heading span {
  color: #663399;
  text-transform: capitalize;
  font-weight: 500;
}

.section-heading .heading-span {
  font-weight: 700;
}

.theme-btn {
  background: transparent;
  background-color: transparent;
  border: none;
  background-color: #663399;
  color: #fff;
  padding: 10px 20px;
  border-radius: 50px;
  font-weight: 500;
  transition: 0.5s;
  transition: .5s linear all;
  -moz-box-shadow: 0px 3px 4px -1px rgba(148, 61, 235, 0.44);
  box-shadow: 0px 3px 4px -1px rgba(148, 61, 235, 0.44);
}

.theme-btn a {
  color: #fff;
  text-decoration: none;
}

.theme-btn:hover {
  background-color: #943deb;
}

.theme-btn:hover a {
  text-decoration: none;
}

/* main css starts */

/* navbar */
.logo img {
  width: 120px;
}

.hamburger {
  height: 100px;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.5s linear all;
  z-index: 9999;
}

.hamburger .line-1 {
  background-color: #663399;
  height: 3px;
  width: 26px;
  display: block;
  transition: 0.5s;
}

.hamburger .line-2 {
  background-color: #663399;
  height: 3px;
  width: 26px;
  display: block;
  transform: translateY(6px);
  transition: 0.5s;
}

.hamburger:hover {
  cursor: pointer;
}

/* hamburger animation  */
.click .line-1 {
  transform: translate(-50%, 50%) rotate(45deg);
}

.click2 .line-2 {
  /* transform: rotate(-30deg) translateY(-3px) translateX(1px); */
  transform: translate(-50%, -50%) rotate(-45deg);
}

/* hamburger animation */

/* Menu starts */

#menu #list {
  padding: 20% 0;
}

.menu-center {
  text-align: center;
}

.menu-list {
  height: 120vh;
  background-color: #fff;
  position: absolute;
  top: -100px;
  right: 0;
  opacity: 0;
  padding-top: 100px;
  width: 100%;
  z-index: 999;
  transition: 0.9s ease-in-out;
  transform: translateX(800px);
}

.pointer {
  pointer-events: none;
}

.tog {
  transition: 0.9s ease-in-out;
  opacity: 1;
  transform: translateX(0px);
  overflow: hidden;

}

.hiden {
  overflow: hidden;
}

.main-menu ul li {
  display: block;
}

.main-menu ul li a {
  display: block;
  text-transform: capitalize;
  font-size: 37px;
  text-decoration: none;
  color: #18181a;
  margin-bottom: 25px;
  position: relative;
  transition: 0.3s ease-in-out;
  font-weight: 500;
}

.main-menu ul li a::before {
  position: absolute;
  content: "";
  left: 19%;
  top: 14px;
  background-color: #e5e5e5;
  height: 28px;
  width: 0;
  transition: 0.3s ease-in-out all;
}

.main-menu ul li:hover a {
  transform: translateX(40px);
}

.main-menu ul li a:hover::before {
  width: 50px;
}

.address p {
  margin-top: 40px;
}

/* menu ends */
/* navbar ends */

/* hero starts */
#hero {
  padding: 90px 0;
}

.hero-content span {
  color: #663399;
  text-transform: capitalize;
  font-weight: 500;
}

.hero-content h1 {
  font-weight: 700;
  text-transform: capitalize;
  margin: 12px 0 20px 0;
  width: 84%;
}

.hero-content .heading-span {
  text-transform: capitalize;
  font-weight: 700;
}

.hero-content p {
  font-weight: 400;
}

.hero-content a .theme-btn {
  background: transparent;
  background-color: transparent;
  border: none;
  background-color: #663399;
  color: #fff;
  padding: 10px 20px;
  border-radius: 50px;
  font-weight: 500;
  transition: 0.5s;
}

.hero-img {
  animation: bounce 1.5s ease-in-out infinite alternate;
}

@keyframes bounce {
  0% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(10px);
  }
}

/* hero ends */

/* service starts */
#service {
  margin-bottom: 100px;
}

.service-wrapper {
  padding: 60px 13px 10px;
  background-color: #ece8f9;
  border-top-left-radius: 28px;
}

.two {
  background-color: #f4e7f1;
}

.three {
  background-color: #ecfafa;
}

.service-wrapper .service-content {
  margin-top: 28px;
  padding: 4px;
}

.icon {
  position: absolute;
  top: 0;
  left: 3%;
  border: 7px solid #fff;
  border-radius: 50%;
  padding: 15px;
}

.service-content .svg-one {
  font-size: 23px;
  color: #639;
}

.service-content .svg-two {
  font-size: 23px;
  color: #990c68;
}

.service-wrapper .svg-three {
  font-size: 23px;
  color: #7acabf;
}

.service-wrapper h6 {
  font-weight: 600;
  margin-bottom: 18px;
}

.service-wrapper p {
  font-size: 14px;
  color: #666;
}

/* service ends */

/* about starts */
#about {
  background-color: #f9faff;
  padding: 70px 0;
  margin-bottom: 100px;
}


.abt-content {
  transform: translateX(50px);
}

.section-heading .width {
  width: 65%;
}

/* about ends */

/* showcase starts */
#showcase {
  margin-bottom: 100px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.showcase-content {
  border: 3px solid #e6e6e6;
  border-radius: 10px;
  padding: 20px 16px;
}

.showcase-content svg {
  color: #639;
  font-size: 51px;
  padding: 7px;
  margin-bottom: 8px;
}

.showcase-content h6 {
  font-weight: 700;
}

.margin-left {
  margin-left: -17px;
}

/* showcase ends */

/* blog starts */
#blog {
  margin-bottom: 100px;
  background-color: #f9faff;
  padding: 70px 0;
}

.blog-wrapper,
.blog-wrapper-two {
  border: 3px solid #e6e6e6;
  border-radius: 10px;
  position: relative;
}

.blog-wrapper img,
.blog-wrapper-two img {
  height: 200px;
  width: 300px;
}

.blog-content {
  padding: 10px 7px;
}

.blog-content span {
  font-size: 13px;
  color: #bfbfc2;
}

.blog-content p {
  font-size: 19px;
  font-weight: 600;
  letter-spacing: 1px;
}

.blog-btn-one {
  position: absolute;
  left: 10%;
  bottom: 18%;
  padding: 10px 24px;
}

.blog-btn {
  position: absolute;
  left: 10%;
  bottom: -7%;
  padding: 10px 24px;
}

.blog2 {
  margin-top: 100px;
}

.transform {
  transform: translateX(20px);
}

/* blog ends */

/* newsletter starts */
#newsletter {
  margin-bottom: 100px;
}

.news-bg {
  color: #fff;
  background-color: #6c3cce;
  border-radius: 20px;
}

.news-wrapper {
  padding: 36px 0;
}

.news-wrapper span {
  font-size: 38px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.news-wrapper p {
  font-size: 14px;
}

.news-wrapper input {
  width: 70%;
  padding: 12px 22px;
  border-radius: 50px;
  outline: none;
  position: relative;
  border: 2px solid #fff;
}

.news-wrapper .position {
  position: absolute;
  right: 17%;
  bottom: 41px;
  background-color: #561ec9;
}

.news-wrapper .position:hover {
  background-color: #943deb;
}

/* newsletter ends */

/* footer starts */


.footer-logo img {
  width: 120px;
}

.foot {
  transform: translateY(32px);
}

.footer-menu ul {
  display: flex;
  justify-content: end;
}

.footer-menu ul li {
  margin-right: 10px;
}

.footer-menu ul li a {
  color: #292a2d;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 14px;
}

.footer-menu ul li a:hover {
  text-decoration: none;
  color: #18181a;
}

/* footer ends */